<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register complaint</title>
    <link rel="stylesheet" href="dashstyle.css">
    <script src="https://kit.fontawesome.com/2edfbc5391.js" crossorigin="anonymous"></script>
    <style>
        .contact-box {
            max-width: 850px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #fff;
            box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
        }

        .right {
            padding: 25px 40px;
        }

        h2 {
            position: relative;
            padding: 0 180px 10px;
            margin-bottom: 45px;
            font-size: 35px;
        }

        .field {
            width: 50%;
            border: 2px solid rgba(0, 0, 0, 0);
            outline: none;
            background-color: white;
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            margin-bottom: 22px;
            transition: .3s;
        }

        .field:hover {
            background-color: #f5f5f7;
        }

        textarea {
            min-height: 170px;
        }

        .btn {
            width: 25%;
            padding: 0.5rem 1rem;
            background-color: #19B3D3;
            color: #fff;
            font-size: 1.1rem;
            border: none;
            outline: none;
            cursor: pointer;
            transition: .3s;
        }

        .btn:hover {
            background-color: #0B87A6;
        }

        .field:focus {
            border: 2px solid rgba(30, 85, 250, 0.47);
            background-color: #fff;
        }


        .content-table {
            border-collapse: collapse;
            margin: 25px 19px;
            margin-left: 13px;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .content-table thead tr {
            background-color: #19B3D3;
            color: #ffffff;
            text-align: left;
            font-weight: 900;
        }

        .content-table th,
        .content-table td {
            padding: 15px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #82abc7;
        }
    </style>
</head>

<body>

    <% if (data.re==1) { %>
        <script>
            window.onload = function () {
                alert("Successful");
            }
        </script>
        <% } else if(data.re==2) { %>
            <script>
                window.onload = function () {
                    alert("Unsuccessful");
                }
            </script>

            <% } data.re=0; %>
                <%- include('./header.ejs'); %>
                    <div class="content"><br><br><br>
                        <div class="container">
                            <div class="contact-box">
                                <div class="right">
                                    <h2>Register Your Anonymous complaints</h2>
                                    <form action="/db/Rcomp" method="post">
                                        <input type="text" class="field" name="ctitle" id="" placeholder="Title"
                                            required>
                                        <textarea placeholder="Enter Your Compliant" name="nmsg" id="" class="field"
                                            required></textarea><br>
                                        <button class="btn" name="lcomplaint">Lodge complaint</button>
                                        <button class="btn" name="ccancel">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content"><br><br><br><br>
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Complaint</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i=0; data.r1.forEach((h)=>{
                                    console.log(h.createdate.date)
                                    %> <tr>
                                        <td>
                                            <%= ++i %>
                                        </td>
                                        <td>
                                            <%= h.title %>
                                        </td>
                                        <td>
                                            <%= h.description %>
                                        </td>
                                        <td>
                                            <%= h.createdate %>
                                        </td>
                                    </tr>

                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
</body>

</html>